* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.nb1 {
    display: flex;
}

.navbar i {
    color: white;
    padding: 10px 15px;
    font-size: 19px;
}

.navbar i:hover {
    color: black;
    background-color: rgb(204, 197, 197);
    transition: .4s;
}

/* ///////////  NAME  ////////// */
.name {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 60px 0px;
}

.name h1 {
    font-size: 40px;
}

.name p {
    margin-top: 14px;
    font-size: 16px;
    color: rgb(59, 59, 59);
}

#n1 {
    color: white;
    background-color: black;
    padding: 4px 9px;
    margin-left: 2px;
    font-size: 15px;
    border-radius: 2px;
}

/* ///////////// MAIN  ////////////// */

.main {
    display: flex;
    align-items: center;
    height: 120vh;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.main-text {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 30vh;
    padding: 0px 30px;
}

.main-text h2 {
    font-size: 40px;
}

.main-text h1 {
    font-size: 60px;
}

.main-text button {
    width: fit-content;
    padding: 10px 20px;
    font-size: 20px;
    border: 0px;
    background-color: rgb(184, 181, 181);
    opacity: 70%;
}

.main-text button:hover {
    opacity: 100%;
    cursor: pointer;
}


.main img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

/* //////////////// SECTION 1 /////////////////// */
.section1 {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

/* ========S1D1 and div1========================= */
.s1d1 {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.div1 img {
    width: 100%;
    height: 80vh;
    margin: 10px 0px;
}

.div1 {
    margin-bottom: 35px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    height: fit-content;
}

.div1text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    padding: 10px 0px;
}

.div1 h3 {
    font-size: 25px;
    font-weight: 100;
    text-shadow: 0px 0px 1.5px black;
    text-align: center;
    margin: 10px 0px 5px 0px;
}

.div1 h4 {
    font-size: 18px;
    font-weight: 100;
    color: grey;
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.div1 p {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    line-height: 25px;
    color: rgb(65, 64, 64);
}

#comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

#like {
    display: flex;
    border: 1px grey solid;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

#like input,
#like2,
#like p,
.reply input {
    display: none;
}

#comment p {
    text-shadow: 0px 0px 1px black;
}


#like-button:checked~.liked {
    display: none;
}

#like-button:checked~#like2 {
    display: block;
    transition: .4s;
}

.reply p {
    color: white;
    font-weight: 600;
    letter-spacing: 0px;
    background-color: black;
    padding: 10px 15px;
    cursor: pointer;
}

#c1 {
    background-color: white;
    color: black;
    padding: 3px 8px;
    margin-left: 5px;
}

#replies {
    display: flex;
    align-items: center;
    border-top: 1px grey solid;
    padding: 15px 0px;
}

#replies img {
    height: 100px;
    width: 100px;
}

.replies-text {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.replies-text h4 {
    text-align: left;
}

#sp1 {
    font-size: 23px;
    color: black;
}


#reply-button:checked~#replies {
    display: none;
}

/* ==========s1d2 and div3======================= */

.s1d2 {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

.div3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}

.div3text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 165px;
    text-align: justify;
    padding: 12px 20px;
}

.div3 h3 {
    font-size: 20px;
    text-shadow: 0px 0px 1px black;
    color: black;
    font-weight: 100;
}

.div3 p {
    font-size: 16px;
    line-height: 25px;
    color: rgb(65, 64, 64);
}

/* ========== div 4 ============================ */
.div4 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 0px 0px 5px black;
}

.div4 h2 {
    font-size: 20px;
    font-weight: 100;
    background-color: rgb(240, 240, 240);
    padding: 20px 20px;
    height: 70px;
    color: rgb(40, 40, 40);
}

.div4 img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

#d4item {
    display: flex;
    border-bottom: 1px rgb(197, 197, 197) solid;
    height: 80px;
    align-items: center;
    padding-left: 20px;
    background-color: white;
    padding: 5px 20px;
    color: rgb(60, 60, 60);
}

#d4item h4 {
    font-size: 19px;
    line-height: 30px;
    font-weight: 100;
}

#d4item p {
    font-size: 16px;
}

/* ============div 5 ========================== */
.div5 {
    margin-top: 50px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 7px black;
}

.div5 h2 {
    font-size: 20px;
    font-weight: 100;
    background-color: rgb(240, 240, 240);
    padding: 20px 20px;
    height: 70px;
    color: rgb(40, 40, 40);
}

.div5text {
    padding: 10px 25px 20px 10px;
    display: flex;
    align-items: center;
}

.div5 li {
    display: inline;
    color: rgb(52, 51, 51);
    background-color: rgb(238, 237, 237);
    margin: 0px 5px;
    padding: 3px 7px;
    font-size: 13px;
    line-height: 30px;
}